

article#novel {
  color: var(--clr-white);
  font-size: var(--fs-md);
  max-width: 720px;
  margin: 0 auto;
}

article#novel > header,
#novel #nv-description {
  margin-bottom: var(--spc-md-s);
}

#novel #nv-title {
  font-size: var(--fs-xl);
  margin-bottom: var(--spc-sm-s);
}

#novel #nv-description {
  font-size: var(--fs-sm);
}

#novel #card {
  background-color: var(--clr-bg-primary);

  border-radius: 5px;
  gap: calc(var(--pdg-md) * 3);
  grid-template-columns: minmax(0, 0.35fr) minmax(0, 0.65fr);
  margin-bottom: var(--spc-md-s);
  padding: calc(var(--pdg-md) * 3);
}

#novel #card > div {
  position: relative;
}

#novel #s3-card {
  border-bottom: 1px solid var(--clr-white);

  font-size: var(--fs-md);
  margin-bottom: var(--spc-sm-s);
  padding-bottom: var(--spc-sm-s);
}

#novel #nv-publisher {
  color: var(--clr-grey);
}

#novel #nv-words {
  position: absolute;

  color: var(--clr-grey);

  bottom: 0;
  left: 0;
}

#novel [aria-labelledby="s3-stats"] *,
#novel #card * {
  line-height: 1.2;
}

#novel [aria-labelledby="s3-stats"] > .gd-triple {
  gap: 0.25rem;
}

#novel [aria-labelledby="s3-stats"] span.spr {
  height: 0;
  top: 0;
  width: 0;
}

#novel #s3-stats {
  font-size: var(--fs-md);
  margin-bottom: var(--spc-sm);
}

#novel #s3-stats > .passive {
  font-weight: 400;
}

#novel #nv-synopsis {
  margin-bottom: var(--spc-md-s);
}
#novel #nv-notice > *,
#novel #nv-synopsis > *:not(:last-child) {
  display: block;
  margin-bottom: var(--fs-md);
}

#novel #synopsis > *:last-child {
  margin-bottom: var(--spc-md);
}

#novel .s4-genres-tags {
  margin-bottom: calc(var(--spc-md) + (var(--fs-sm) - 0.4rem));
}

#novel .s4-genres-tags > header {
  border-bottom: none;

  margin-bottom: var(--spc-sm-s);
}

#novel ul#nv-genres a::before {
  content: "# ";
}

#novel ul#nv-tags li::before {
  color: var(--clr-grey);
}

#novel [aria-labelledby="s4-fandom"] > ul {
  padding: var(--pdg-md) var(--pdg-md) calc((var(--pdg-md) * 4) - var(--pdg-sm));
}

#novel .s4[aria-labelledby="s4-authors"] {
  margin-bottom: var(--spc-md);
}

#novel #nv-authors {
  margin-bottom: calc(var(--spc-sm) / 2);
}

#novel #s4-sources {
  position: relative;

  padding-top: 2px;
}

#novel #s4-sources ~ * {
  background-color: var(--clr-bg-primary);

  padding: calc(var(--pdg-md) * 2) var(--pdg-md) var(--pdg-md);
}

#novel #s4-sources button {
  background: none;
  border: none;

  border-radius: 0;
}

#novel #s4-sources button:hover,
#novel #s4-sources button.active {
  background-color: var(--clr-bg-primary);
}

#novel #s4-sources > .indicator {
  display: block;
  position: absolute;

  border-bottom: 2px solid;
  transition: margin 0.25s ease-in-out;

  top: 0;
  width: calc(100% / 3);
}

#novel #s4-sources > button:last-of-type.active ~ .indicator {
  margin-left: calc((100% / 3) * 2);
}

#novel #s4-sources > button:nth-of-type(2).active ~ .indicator {
  margin-left: calc(100% / 3);
}

#novel #s4-sources > button:first-of-type.active ~ .indicator {
  margin-left: 0;
}

#novel #s4-sources > button:last-of-type:hover ~ .indicator {
  margin-left: calc((100% / 3) * 2);
}

#novel #s4-sources > button:nth-of-type(2):hover ~ .indicator {
  margin-left: calc(100% / 3);
}

#novel #s4-sources > button:first-of-type:hover ~ .indicator {
  margin-left: 0;
}

@media only screen and (min-width: 390px) and (max-width: 550px) {
  #novel #card {
    padding: calc(var(--pdg-md) * 2);
  }

  #novel [aria-labelledby="s3-stats"] > .gd-triple {
    position: relative;
    background-color: var(--clr-bg-primary);

    border-radius: 5px;
    padding: calc(var(--pdg-md) * 1.5);
  }

  #novel [aria-labelledby="s3-stats"] > .gd-triple > *:nth-child(2) {
    position: relative;
  }

  #novel [aria-labelledby="s3-stats"] span.spr {
    height: 65%;
    top: 22.5%;
    width: 100%;
  }
}

@media only screen and (min-width: 550px) {
  #novel #nv-words {
    position: relative;
    margin-top: var(--spc-sm-s);
  }

  #novel #s3-stats {
    margin-bottom: var(--spc-sm-s);
  }

  #novel [aria-labelledby="s3-stats"] > .gd-triple {
    gap: 0.5rem;
  }

  #novel [aria-labelledby="s3-stats"] {
    position: relative;

    margin-top: calc(-9rem - (var(--pdg-md) * 3));
    padding-left: calc(35% + (var(--pdg-md) * 3));
    padding-right: calc(var(--pdg-md) * 3);
    z-index: 1;
  }
}

@media only screen and (min-width: 690px) {
  #novel [aria-labelledby="s3-stats"].s3 {
    margin-bottom: calc(var(--spc-md) * 1.5);
    margin-top: calc(-11rem - (var(--pdg-md) * 2));
  }

  #novel #nv-words {
    position: relative;
    margin-top: calc(var(--spc-sm-s) - 0.25rem);
  }
}
