:root {
  --clr-white: #f4f4f4;
  --clr-accent: #7baaf7;
  --clr-grey: #747474;

  --clr-gold: gold;
  --clr-bronze: #cd7f32;
  --clr-silver: silver;

  --clr-bg-primary: #121517;
  --clr-bg-secondary: #1c1f22;
  --clr-bg-tertiary: #090a0b;

  --fs-sm: 0.8rem;
  --fs-md: 0.9rem;
  --fs-lg: 1.2rem;
  --fs-xl: 1.4rem;

  --spc-sm: 1rem;
  --spc-sm-s: calc(var(--spc-sm) - 0.5rem);
  --spc-md: 2rem;
  --spc-md-s: calc(var(--spc-md) - 0.5rem);
  --spc-lg: 3rem;
  --spc-lg-s: calc(var(--spc-lg) - 0.5rem);
  --spc-xl: 4rem;
  --spc-xl-s: calc(var(--spc-xl) - 0.5rem);

  --pdg-sm: 2px;
  --pdg-md: 4px;
}

@media only screen and (min-width: 550px) {
  :root {
    --fs-lg: 1.6rem;
    --fs-xl: 1.8rem;
  }
}

@media only screen and (min-width: 690px) {
  :root {
    --fs-sm: 0.9rem;
    --fs-md: 1rem;

    --spc-sm: 1.5rem;
    --spc-md: 2.5rem;
    --spc-lg: 3.5rem;
    --spc-xl: 4.5rem;

    --pdg-sm: 3px;
    --pdg-md: 6px;
  }
}

.ct-item * {
  box-sizing: border-box;

  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.ct-item a {
  text-decoration: none;

  color: var(--clr-accent);
}

.ct-item a:hover {
  color: var(--clr-white);
}

.ct-item a:not(:hover) svg:not(.flag),
.ct-item button:not(.active):not(:hover) svg {
  fill: var(--clr-accent);
}

.ct-item button {
  cursor: pointer;

  background: var(--clr-bg-primary);
  border: 2px solid var(--clr-accent);
  color: var(--clr-accent);

  border-radius: 5px;
  font-size: var(--fs-sm);
  font-weight: 600;
  padding: 2px 4px;
}

.ct-item button.active,
.ct-item button:hover {
  background-color: var(--clr-accent);
  border-color: var(--clr-white);
  color: var(--clr-white);
}

.ct-item button.active svg,
.ct-item button:hover svg,
.ct-item svg {
  fill: var(--clr-white);
}

.ct-item button.btn-hdr {
  width: calc((100% / 3) - 4px);
}

.ct-item figure#cover {
  aspect-ratio: 1 / 1.3;
  width: 100%;
}

.ct-item figure#cover > img {
  height: 100%;
}

.ct-item hr {
  margin-bottom: var(--fs-md);
}

.ct-item img {
  display: block;

  border-radius: 5px;
  width: 100%;
}

.ct-item ul {
  list-style: none;
}

.ct-item span.spr {
  display: block;
  position: absolute;

  border-right: 2px solid var(--clr-grey);
  border-left: 2px solid var(--clr-grey);

  height: 50%;
  left: 0;
  top: 25%;
  width: 100%;
}

.ct-item svg {
  opacity: 1;
  max-width: 1.2rem;
}

.ct-item table.t-rd {
  border-collapse: collapse;
  table-layout: fixed;

  background-color: var(--clr-bg-secondary);

  width: 100%;
}

.ct-item table.t-rd:not(:last-child) caption button:not(.active) {
  border-bottom: none;
}

.ct-item table.t-rd caption button {
  border-right: none;
  border-left: none;

  border-radius: 0;
  width: 100%;
}

.ct-item table.t-rd thead th {
  border-bottom: 2px solid;
}

.ct-item table.t-rd tbody tr:not(:last-child) td {
  border-bottom: 2px dashed;
}

.ct-item table.t-rd tbody tr:nth-child(odd) td {
  background-color: var(--clr-bg-primary);
}

.ct-item table.t-rd caption button
.ct-item table.t-rd th,
.ct-item table.t-rd td{
  padding: var(--pdg-md) var(--pdg-sm);
}

.ct-item table.t-rd th:first-child,
.ct-item table.t-rd td:first-child {
  width: 50%;
}

.ct-item table.t-rd th:not(:first-child),
.ct-item table.t-rd td:not(:first-child) {
  text-align: center;

  width: 25%;
}

.ct-item table.t-rd caption:not(.show) + thead {
  display: none;
}

.ct-item table.t-rd:last-child tbody tr:last-child td {
  border-bottom: 2px dashed;
}

.ct-item [class*="fx"] {
  align-items: center;
  display: flex;
}

.ct-item [class*="fx-l"] {
  flex-wrap: wrap;
  list-style: none;

  font-size: var(--fs-sm);
  gap: calc(var(--pdg-md) * 1.5);
}

.ct-item .fx-l li {
  background-color: var(--clr-bg-secondary);

  border-radius: 5px;
  padding: var(--pdg-sm) var(--pdg-md);
}

.ct-item .fx-l1 {
  gap: calc(var(--pdg-md) * 4);
}

.ct-item .fx-l1 li {
  position: relative;

  font-weight: 600;
  padding: 0 var(--pdg-sm) var(--pdg-md) 0;
}

.ct-item .fx-l1 .context {
  position: absolute;

  bottom: calc((var(--fs-sm) - 0.4rem) * -1);
  font-size: calc(var(--fs-sm) - 0.2rem);
  font-weight: 400;
  line-height: 1.2;
  max-width: fit-content;
  right: 0;
}

.ct-item .fx-clm {
  flex-direction: column;
}

.ct-item .fx-pt svg {
  flex-shrink: 0;
  margin-right: 4px;
}

.ct-item [class*="gd"] {
  display: grid;
}

.ct-item .gd-triple {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ct-item .gd-penta {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.ct-item .jc-sb {
  justify-content: space-between;
}

.ct-item .gold svg {
  fill: var(--clr-gold);
}

.ct-item .silver svg {
  fill: var(--clr-silver);
}

.ct-item .bronze svg {
  fill: var(--clr-bronze);
}

.ct-item .item:not(.show) {
  display: none;
}

.ct-item .passive {
  color: var(--clr-grey);
}

.ct-item .pn-rv {
  position: relative;
}

.ct-item .sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}

.ct-item .cd-stats {
  background-color: var(--clr-bg-primary);
  border: 2px solid;

  border-radius: 5px;
  padding: var(--pdg-md);
}

.ct-item .cd-stats > *,
.ct-item .cd-stats > *:first-child > *,
.ct-item .cd-stats > *:last-child > * {
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.ct-item .cd-stats > *:first-child {
  border-bottom: 2px solid;

  margin-bottom: var(--pdg-md);
}

.ct-item .cd-stats > *:last-child {
  font-size: var(--fs-sm);
}

.ct-item .cd-stats > *:last-child > *:first-child {
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.ct-item [class*="s4"]:not(.s4-genres-tags) {
  border-radius: 5px;
  background-color: var(--clr-bg-primary);
  padding: calc(var(--pdg-md) * 1.5);
}

.ct-item [class*="s3"]:not(:last-child) {
  margin-bottom: var(--spc-md);
}

.ct-item [class*="s3"] > header,
.ct-item [class*="s3"] > h3 {
  margin-bottom: var(--spc-md-s);
}

.ct-item [class*="s3"] h3 {
  font-size: var(--fs-lg);
}

.ct-item
  [class*="s4"]:not(.s4-genres-tags):not([aria-labelledby="s4-authors"]):not(
    :last-child
  ) {
  margin-bottom: var(--spc-sm-s);
}

.ct-item [class*="s4"] > header,
.ct-item [class*="s4"] > h4 {
  border-bottom: 1px solid var(--clr-white);

  margin-bottom: calc(var(--spc-sm) / 2);
  padding-bottom: calc(var(--spc-sm) / 2);
}

.ct-item [class*="s4"] h4 svg {
  margin-left: 2px;
}

@media only screen and (min-width: 390px) and (max-width: 550px) {
  .ct-item .cd-stats {
    background-color: transparent;
    border: none;

    padding: 0;
  }

  .ct-item .cd-stats > *:first-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 550px) {
  .ct-item button.btn-hdr {
    width: calc((100% / 5) - 4px);
  }

  .ct-item .cd-stats {
    background-color: var(--clr-bg-secondary);
  }

  .ct-item .cd-stats:not(a) {
    border: none;
  }
}
